.scrollContainer {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 700px;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.mainFont {
  font-family: Didot;
}

.titlePadding {
  margin-top: 1px;
  margin-left: 20px;
}

.contentPadding {
  margin-left: 20px;
  margin-right: 20px;
}

.contentJustify {
  text-align: justify;
}
