.scrollContainer {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 700px;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.mainFont {
  font-family: Didot;
}

.titlePadding {
  margin-top: 1px;
  margin-left: 20px;
}

.commentIconPadding {
  margin-top: 10px;
  margin-left: 10px;
}

.contentIndent {
  text-indent: 10px;
}

.contentPadding {
  margin-left: 20px;
  margin-right: 20px;
}

.contentJustify {
  text-align: justify;
}

.cursorPoint {
  cursor: pointer;
}

.divBackgroundCardWShadow {
  background: white;
  border-radius: 10px;
  margin-top: 100px;
  box-shadow: 5px 10px black;
  opacity: 0.8;
}

.divBackgroundCardWOShadow {
  background: white;
  /* border-radius: 10px; */
  margin-top: 100px;
  opacity: 0.8;
}

body {
  background-color: #e3c4a8;
}